@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Manage")">@User.Identity.GetUserName()</a>
        </li>
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    }
}
else
{

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login", "Account")">Log in</a>
    </li>

}
