@model StoreFrontLab.DATA.EF.Weapon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <h4>Weapon</h4>
    <hr />
    <h1>
        @Html.DisplayFor(model => model.WeaponName)
    </h1>
    <p class="description">@Html.DisplayFor(model => model.Description)</p>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Archetype.Archetype1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Archetype.Archetype1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Element.Element1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Element.Element1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InStockStatus.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InStockStatus.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Manufacturer.Manufacturer1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manufacturer.Manufacturer1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rarity.Rarity1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rarity.Rarity1)
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            <img src="~/imgstore/weapons/@Model.Image" alt="@Model.WeaponName" title="@Model.WeaponName" />
        </div>
    </div>
    <hr />
</div>
<p>
    @using (Html.BeginForm("AddToCart", "Weapons", new { @weaponId = Model.WeaponID }, FormMethod.Post, new { @class = "text-center" }))
    {
        @Html.HiddenFor(x => x.WeaponID)
        <span class="label">Quantity:</span>
        @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
        <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
    }
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WeaponID }) |
    @Html.ActionLink("Back to List", "Products", "Home")
</p>
